*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    color: #fff;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 100%;
    min-width: 50px 0;
}
.col2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
    color: #fff;
}
.btn{
    display: inline-block;
    background: #bd0000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #1C2368;
}
.header{
    background: radial-gradient(#000,#1C2368);
}
.header .row{
    margin-top: 70px;
}

/*------Colour
#bd0000
#1C2368
-------*/


/*------Contact Us------*/
.table1 h1{
    text-align: center;
}



/*------Footing-----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    display: inline-block;
    min-width: 600px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-left: 20px;
} 
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: right;
    margin-right: 20px;
}
.footer-col-3 ul{
    list-style-type: none;
}